.content h1 {
    color: white;
    text-align: center;
    padding-bottom:2%;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    background-color:#1a1a1a;
    color: white;
}

.content p, h2{
    padding-left:5%;
    padding-right:5%;

}

.content li {
  margin-left: 40px;