html {
  /* background-color: #303030; */
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Mojang', sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}

header {
  padding-top: 20px;
  padding-bottom: 40px;
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}



@font-face {
  font-family: "Mojang";
  src: url(assets/fonts/mojang/Mojang-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Mojang";
  src: url(assets/fonts/mojang/Mojang-Bold.ttf);
  font-weight: bold;
}

.hyfetchBox {
  background-color: rgba(55, 55, 55, 0.5);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  color: white; 
  padding: 20px;
  width: 500px;
  text-align: left; 
  border-radius: 10px;
  margin: 20px auto; 
  font-family: monospace;
  border: 2px solid black; 
}

.factBox {
  background-color: rgba(55, 55, 55, 0.5); 
  color: white; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 500px;
  letter-spacing: 0px;
  word-spacing: 5px;
  line-height: 30px;
  text-align: left; 
  border-radius: 10px;
  margin: 20px auto; 
  border: 2px solid black; 
}


a {
  color: white;
}